USE [master]
GO
/****** Object:  Database [QLBH2025]    Script Date: 22/11/2025 7:35:19 SA ******/
CREATE DATABASE [QLBH2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBH2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBH2025.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH2025]
GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[ID] [int] NOT NULL,
	[NameUser] [nvarchar](max) NULL,
	[RoleUser] [nvarchar](max) NULL,
	[Password] [nchar](50) NULL,
	[Email] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDCate] [nchar](20) NOT NULL,
	[NameCate] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IDCus] [int] IDENTITY(1,1) NOT NULL,
	[NameCus] [nvarchar](max) NULL,
	[PhoneCus] [nvarchar](15) NULL,
	[EmailCus] [nvarchar](max) NULL,
	[PasswordUser] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDProduct] [int] NULL,
	[IDOrder] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPro]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [date] NULL,
	[IDCus] [int] NULL,
	[AddressDeliverry] [nvarchar](max) NULL,
	[Status] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22/11/2025 7:35:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[NamePro] [nvarchar](max) NULL,
	[DecriptionPro] [nvarchar](max) NULL,
	[IDCate] [nchar](20) NULL,
	[Price] [decimal](18, 2) NULL,
	[ImagePro] [nvarchar](max) NULL,
	[Stock] [int] NOT NULL,
	[AvailableSizes] [nvarchar](20) NULL,
	[ImageThumb1] [nvarchar](max) NULL,
	[ImageThumb2] [nvarchar](max) NULL,
	[ImageThumb3] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AdminUser] ([ID], [NameUser], [RoleUser], [Password], [Email]) VALUES (1, N'Lộc', N'admin', N'321                                               ', N'loi@321   ')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [IDCate], [NameCate]) VALUES (5, N'AC                  ', N'Accessories')
INSERT [dbo].[Category] ([Id], [IDCate], [NameCate]) VALUES (2, N'HD                  ', N'Hoodie')
INSERT [dbo].[Category] ([Id], [IDCate], [NameCate]) VALUES (3, N'JK                  ', N'Jacket')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([IDCus], [NameCus], [PhoneCus], [EmailCus], [PasswordUser]) VALUES (1, N'loi', N'123', N'dai@123', N'123       ')
INSERT [dbo].[Customer] ([IDCus], [NameCus], [PhoneCus], [EmailCus], [PasswordUser]) VALUES (2, N'123', N'46', N'da@123', N'456       ')
INSERT [dbo].[Customer] ([IDCus], [NameCus], [PhoneCus], [EmailCus], [PasswordUser]) VALUES (1002, N'LuTuongVuong', N'0917986717', N'lutuongvuong@gmail.com', N'tvuong0606')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [IDProduct], [IDOrder], [Quantity], [UnitPrice]) VALUES (1, 2, 1, 1, 180000)
INSERT [dbo].[OrderDetail] ([ID], [IDProduct], [IDOrder], [Quantity], [UnitPrice]) VALUES (2, 5, 2, 2, 260000)
INSERT [dbo].[OrderDetail] ([ID], [IDProduct], [IDOrder], [Quantity], [UnitPrice]) VALUES (3, 1, 3, 4, 200000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderPro] ON 

INSERT [dbo].[OrderPro] ([ID], [DateOrder], [IDCus], [AddressDeliverry], [Status]) VALUES (1, CAST(N'2025-11-14' AS Date), 1002, N'', NULL)
INSERT [dbo].[OrderPro] ([ID], [DateOrder], [IDCus], [AddressDeliverry], [Status]) VALUES (2, CAST(N'2025-11-14' AS Date), 1002, N'', NULL)
INSERT [dbo].[OrderPro] ([ID], [DateOrder], [IDCus], [AddressDeliverry], [Status]) VALUES (3, CAST(N'2025-11-20' AS Date), 1, N'tr', N'Chưa xác nhận                                     ')
SET IDENTITY_INSERT [dbo].[OrderPro] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [NamePro], [DecriptionPro], [IDCate], [Price], [ImagePro], [Stock], [AvailableSizes], [ImageThumb1], [ImageThumb2], [ImageThumb3]) VALUES (1, N'Elegant Black Tee', N'Áo thun den c? tròn phong cách sang tr?ng', N'TS                  ', CAST(200000.00 AS Decimal(18, 2)), N'ao-den-01-font.jpg', 12, N'S,M,L', N'ao-den-01-back.jpg', N'ao-den-thumb1.jpg', N'ao-den-thumb2.jpg')
INSERT [dbo].[Products] ([ProductID], [NamePro], [DecriptionPro], [IDCate], [Price], [ImagePro], [Stock], [AvailableSizes], [ImageThumb1], [ImageThumb2], [ImageThumb3]) VALUES (2, N'Classic White Tee', N'Áo thun tr?ng basic, l?ch lãm', N'TS                  ', CAST(180000.00 AS Decimal(18, 2)), N'ao-trang-01-font.jpg', 15, N'S,M,L', N'ao-trang-01-back.jpg', N'ao-trang-thumb1.jpg', N'ao-trang-thumb2.jpg')
INSERT [dbo].[Products] ([ProductID], [NamePro], [DecriptionPro], [IDCate], [Price], [ImagePro], [Stock], [AvailableSizes], [ImageThumb1], [ImageThumb2], [ImageThumb3]) VALUES (3, N'Binh Tan Graphic Tee', N'Áo thun h?a ti?t Bình Tân th?i trang', N'TS                  ', CAST(220000.00 AS Decimal(18, 2)), N'binh-tan-font.jpg', 10, N'S,M,L', N'binh-tan-back.jpg', N'binh-tan-thumb1.jpg', N'binh-tan-thumb2.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([IDOrder])
REFERENCES [dbo].[OrderPro] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderPro]  WITH CHECK ADD FOREIGN KEY([IDCus])
REFERENCES [dbo].[Customer] ([IDCus])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Pro_Category] FOREIGN KEY([IDCate])
REFERENCES [dbo].[Category] ([IDCate])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Pro_Category]
GO
USE [master]
GO
